/* Navigation Bar */
#navbar
{
    flex-direction: column;
}
#navbar ul li a
{
    font-size: 1rem;
    padding: 1px 5px;
}
/* Home Section */
#home
{
    height: 34rem;
    flex-direction: column;
    padding: 3px 68px;
}
#home p
{
    font-size: 1.5rem;
}
#home::before
{
    height:42rem;
}
/* Services Section */
#services
{
    flex-direction: column;
    
}
#services .box
{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
#order
{
    width: 9rem;
}
#catering img
{
    width: 9rem;
}
/* Client Section */
#clients
{
    flex-wrap: wrap;
    height: 16rem;
}
#clients img
{
    width: 3rem;
    height: 3rem;
    /* margin-top: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#client-section::before
{
    height: 25rem;
}
/* Contact Section */
#contact-box form
{
    width: 80%;
}
/* Utility Classes */
.h-primary
{
    font-size: 2.73rem;
}